.top-right-wrapper {
  display: table-cell;
  position: relative;
  padding: 0;
}

.top-right-icon {
  position: absolute;
  top: 2px;
  /* enough space for scroll bar */
  right: 20px;
  z-index: 2;
}