/*! sticky-right-top-icon - 0.0.0 */

.top-right-wrapper {
  background-color: green;
  display: table-cell;
  position: relative;
}

.top-right-icon {
  position: relative;
  top: 2px;
  /* enough space for scroll bar */
  right: 20px;
  float: right;
  z-index: 2;
}